# Working With A SQLite Database - 2

## Objective

Select country data with SQL and perform analysis on it.

Working with Python and the SQLite command line tool (SQLite Command Shell) to connect to the database, extract data, and perform analysis on the data.

## Database

The database come [from Github](https://github.com/factbook/factbook.sql), It contains compendium of facts about countries. The Factbook contains demographic information for each country in the world, including:

    •	population - The population as of 2015
    •	population_growth - The annual population growth rate, as a percentage
    •	area - The total land and water area

## Exploring the Database

Use the SQLite Command Shell to explore factbook.db

    $ sqlite3 factbook.db
$ .tables
    facts

## Running Queries In The SQLite Command Shell

    $ .mode column
$ .headers on
    $ SELECT * FROM facts ORDER BY population DESC LIMIT 10;
    +-------------------------------------------------------------------------+
    | id  | code | name       | area    | area_land | area_water | population |
    |-----|------|------------|---------|-----------|------------|------------|
    | 261 | xx   | World      |         |           |            | 7256490011 |
    | 37  | ch   | China      | 9596960 | 9326410   | 270550     | 1367485388 |
    | 77  | in   | India      | 3287263 | 2973193   | 314070     | 1251695584 | 
    | 197 | ee   | European U | 4324782 |           |            | 513949445  | 
    | 186 | us   | United Sta | 9826675 | 9161966   | 664709     | 321368864  | 
    | 78  | id   | Indonesia  | 1904569 | 1811569   | 93000      | 255993674  | 
    | 24  | br   | Brazil     | 8515770 | 8358140   | 157630     | 204259812  | 
    | 132 | pk   | Pakistan   | 796095  | 770875    | 25220      | 199085847  | 
    | 129 | ni   | Nigeria    | 923768  | 910768    | 13000      | 181562056  | 
    | 14  | bg   | Bangladesh | 148460  | 130170    | 18290      | 168957745  | 
    +-------------------------------------------------------------------------+
    +-----------------------------------------------------------------------------------------------------------------------+
    |population_growth | birth_rate | death_rate | migration_rate | created_at                 | updated_at                 |
    |------------------|------------|------------|----------------|----------------------------|----------------------------|
    |1.08              | 18.6       | 7.8        |                | 2015-11-01 13:39:09.910721 | 2015-11-01 13:39:09.910721 |
    |0.45              | 12.49      | 7.53       | 0.44           | 2015-11-01 13:22:53.813142 | 2015-11-01 13:22:53.813142 |
    |1.22              | 19.55      | 7.32       | 0.04           | 2015-11-01 13:26:24.788193 | 2015-11-01 13:26:24.788193 |
    |0.25              | 10.2       | 10.2       | 2.5            | 2015-11-01 13:36:06.493657 | 2015-11-01 13:36:06.493657 |
    |0.78              | 12.49      | 8.15       | 3.86           | 2015-11-01 13:35:14.898271 | 2015-11-01 13:35:14.898271 |
    |0.92              | 16.72      | 6.37       | 1.16           | 2015-11-01 13:26:30.435758 | 2015-11-01 13:26:30.435758 |
    |0.77              | 14.46      | 6.58       | 0.14           | 2015-11-01 13:21:42.799461 | 2015-11-01 13:21:42.799461 |
    |1.46              | 22.58      | 6.49       | 1.54           | 2015-11-01 13:30:54.514863 | 2015-11-01 13:30:54.514863 |
    |2.45              | 37.64      | 12.9       | 0.22           | 2015-11-01 13:30:39.695455 | 2015-11-01 13:30:39.695455 |
    |1.6               | 21.14      | 5.61       | 0.46           | 2015-11-01 13:20:52.753843 | 2015-11-01 13:20:52.753843 |
    +-----------------------------------------------------------------------------------------------------------------------+
    
    $ SELECT * FROM facts ORDER BY area_land ASC LIMIT 10;
    +-------------------------------------------------------------------------+
    | id  | code | name       | area    | area_land | area_water | population |
    |-----|------|------------|---------|-----------|------------|------------|
    | 58  | et   | Ethiopia   | 1104300 |           | 104300     | 99465819   |
    | 162 | od   | South Suda | 644329  |           |            | 12042910   |
    | 165 | su   | Sudan      | 1861484 |           |            | 36108853   |
    | 197 | ee   | European U | 4324782 |           |            | 513949445  |
    | 210 | fs   | French Sou |         |           |            |            |
    | 212 | tb   | Saint Bart |         |           |            | 7237       |
    | 225 | ax   | Akrotiri   | 123     |           |            | 15700      |
    | 231 | dx   | Dhekelia   | 130     |           |            | 15700      |
    | 249 | um   | United Sta |         |           |            |            |
    | 256 | xq   | Arctic Oce |         |           |            |            |
    +-------------------------------------------------------------------------+
    +-----------------------------------------------------------------------------------------------------------------------+
    | population_growth | birth_rate | death_rate | migration_rate | created_at                 | updated_at                |
    |-------------------|------------|------------|----------------|----------------------------|---------------------------|
    | 2.89              | 37.27      | 8.19       | 0.22           | 2015-11-01 13:24:44.456431 | 2015-11-01 13:24:44.456431| 
    | 4.02              | 36.91      | 8.18       | 11.47          | 2015-11-01 13:33:16.279312 | 2015-11-01 13:33:16.279312| 
    | 1.72              | 29.19      | 7.66       | 4.29           | 2015-11-01 13:33:31.360884 | 2015-11-01 13:33:31.360884| 
    | 0.25              | 10.2       | 10.2       | 2.5            | 2015-11-01 13:36:06.493657 | 2015-11-01 13:36:06.493657| 
    |                   |            |            |                | 2015-11-01 13:36:43.532683 | 2015-11-01 13:36:43.532683| 
    |                   |            |            |                | 2015-11-01 13:36:49.817701 | 2015-11-01 13:36:49.817701| 
    |                   |            |            |                | 2015-11-01 13:37:26.504715 | 2015-11-01 13:37:26.504715| 
    |                   |            |            |                | 2015-11-01 13:37:45.262682 | 2015-11-01 13:37:45.262682| 
    |                   |            |            |                | 2015-11-01 13:38:42.851318 | 2015-11-01 13:38:42.851318| 
    |                   |            |            |                | 2015-11-01 13:38:59.784157 | 2015-11-01 13:38:59.784157| 
    +-----------------------------------------------------------------------------------------------------------------------+

#### Observations:

Notice that these queries return some strange results, include non-national entities like the European Union and Akrotiri.
The data is fairly messy, and some values in the area_land column are missing.

## Using Python With SQLite

In [1]:
import sqlite3
conn = sqlite3.connect('factbook.db')
cursor = conn.cursor()

query = ('SELECT * FROM facts ORDER BY population DESC LIMIT 10;')
results = conn.execute(query).fetchall()
print(results)

[(261, 'xx', 'World', None, None, None, 7256490011, 1.08, 18.6, 7.8, None, '2015-11-01 13:39:09.910721', '2015-11-01 13:39:09.910721'), (37, 'ch', 'China', 9596960, 9326410, 270550, 1367485388, 0.45, 12.49, 7.53, 0.44, '2015-11-01 13:22:53.813142', '2015-11-01 13:22:53.813142'), (77, 'in', 'India', 3287263, 2973193, 314070, 1251695584, 1.22, 19.55, 7.32, 0.04, '2015-11-01 13:26:24.788193', '2015-11-01 13:26:24.788193'), (197, 'ee', 'European Union', 4324782, None, None, 513949445, 0.25, 10.2, 10.2, 2.5, '2015-11-01 13:36:06.493657', '2015-11-01 13:36:06.493657'), (186, 'us', 'United States', 9826675, 9161966, 664709, 321368864, 0.78, 12.49, 8.15, 3.86, '2015-11-01 13:35:14.898271', '2015-11-01 13:35:14.898271'), (78, 'id', 'Indonesia', 1904569, 1811569, 93000, 255993674, 0.92, 16.72, 6.37, 1.16, '2015-11-01 13:26:30.435758', '2015-11-01 13:26:30.435758'), (24, 'br', 'Brazil', 8515770, 8358140, 157630, 204259812, 0.77, 14.46, 6.58, 0.14, '2015-11-01 13:21:42.799461', '2015-11-01 13:21:42.799461'), (132, 'pk', 'Pakistan', 796095, 770875, 25220, 199085847, 1.46, 22.58, 6.49, 1.54, '2015-11-01 13:30:54.514863', '2015-11-01 13:30:54.514863'), (129, 'ni', 'Nigeria', 923768, 910768, 13000, 181562056, 2.45, 37.64, 12.9, 0.22, '2015-11-01 13:30:39.695455', '2015-11-01 13:30:39.695455'), (14, 'bg', 'Bangladesh', 148460, 130170, 18290, 168957745, 1.6, 21.14, 5.61, 0.46, '2015-11-01 13:20:52.753843', '2015-11-01 13:20:52.753843')]

## Computing Population Projections

Read the facts table into pandas, and then compute the projected population for each country in 2050.

In [2]:
import math
import pandas as pd

conn = sqlite3.connect('factbook.db')
facts = pd.read_sql_query('select * from facts', conn)
facts = facts.dropna(axis=0, subset=['area_land', 'population', 'population_growth'])

def estimate_pop(row, y):
    pop = row['population']
    pop_g = row['population_growth']
    return int(pop * (math.e ** ((pop_g/100) * y)))

facts['population_2050'] = facts.apply(lambda row: estimate_pop(row, 35), axis=1)
facts = facts.sort_values('population_2050', ascending=False)
print(facts[['name', 'population_2050']].head(10))
conn.close()

                                  name  population_2050
76                               India       1918414568
36                               China       1600752082
128                            Nigeria        427989003
185                      United States        422246629
77                           Indonesia        353241773
131                           Pakistan        331867609
13                          Bangladesh        295789677
23                              Brazil        267439339
39   Congo, Democratic Republic of the        187107846
113                             Mexico        183986320

## Summing Columns To Compute Total Area

Compute the ratio of land area to water area that each country claims.

In [3]:
conn = sqlite3.connect('factbook.db')
sum_land = pd.read_sql_query('select sum(area_land) from facts', conn)['sum(area_land)'][0]
print(sum_land)
sum_water = pd.read_sql_query('select sum(area_water) from facts', conn)['sum(area_water)'][0]
print(sum_water)
print(sum_land / sum_water)
conn.close()

128584834
4633425
27.7515734041